waypoint:
  authorization:
    base-url: http://localhost:8082
    dashboard-api:
      base-url: http://localhost:8083
    encrypted-field:
      secret-key: ldcAQwZs6EWmWJC#GVsx%*1s3RJfoabp%mfa@%9&BiDwQRjT$0qEvqLrj3jU2F0j$DHN5xVOGlQ*NUILqHZQparn8zWCVaM9GPB
      salt: zS95&#$yYWDLBUMM
      enabled: false
    oauth2:
      public-key: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1QM2gqri6Kca+l3dLmccwhHL5/0MxMNqn6AT02wM5g4WnVtMLtv6VF9jl9O6sPp2WcVqo4Ag9DyFK+cFmuL1pBW2LZlfAU1/EakhElgFy2qdhWAODCePBp3Oypa98wTIzIwSXPO9CIe2v6XpV+cIAiGCvmy83jz25vy2ZmWE3+jg8PQHeUAHe9f6kJrTlI/yfSXfSM+VxL714Hmaarf58+KMAldAnT8iMTy+bSZXV48DMIeKntLa+kDq/QzjMM7Evx5aU3SmRubND7dIRnxDmacEKfWO5F6K7+V0m1Ku52PgBczFvS2B06d7fdkZrVmQYzLlMmQ7zrk8hT+vNxySjwIDAQAB
      private-key: MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDVAzaCquLopxr6Xd0uZxzCEcvn/QzEw2qfoBPTbAzmDhadW0wu2/pUX2OX07qw+nZZxWqjgCD0PIUr5wWa4vWkFbYtmV8BTX8RqSESWAXLap2FYA4MJ48Gnc7Klr3zBMjMjBJc870Ih7a/pelX5wgCIYK+bLzePPbm/LZmZYTf6ODw9Ad5QAd71/qQmtOUj/J9Jd9Iz5XEvvXgeZpqt/nz4owCV0CdPyIxPL5tJldXjwMwh4qe0tr6QOr9DOMwzsS/HlpTdKZG5s0Pt0hGfEOZpwQp9Y7kXorv5XSbUq7nY+AFzMW9LYHTp3t92RmtWZBjMuUyZDvOuTyFP683HJKPAgMBAAECggEAXHhSl5LbgifYvEs3E0fL4iubmw/tFRXIGZeCQ8uqJcyD4LebcNQp7aqjL2vIpb901S+wRV3/8Ea9gPt/IWfZPuv19AGajpQ3z1DefHodudqEmzvBnWEm47Zp6ORbfT3cdX9xEUz2CNfxa2z4ySIQBezKNyQ5MTjB7jBSdk0ny5MfWsHUKmzJgcnfYiuu1k28NWqi+CZbv4DwGXSGxViKpdayzxaIgPIb5adrq/KsmXBsARVfXXscZPbr7Ik3cd1ENZ25wREW+1NZVH3O71Nv1iL7XmDYxD8s7qNaX7h00rVUTjJ6yXbQFh9nuuRcwLJ4C8589jgPHott9LkTSTy28QKBgQD/ATquLbN+/ybJ1pIDZaAUMGElfX82bJQVNdMwP+ubPoTgpDTRaRtaaPF9ymb+FMdNFVR3xdf3TXFC2qSyJSa21s1vBOvyjMOBI5ZxpYRBwMbvKI1Ju2tSRPivEHcZgxBSdb28y1grTseoQtWc4x4dnjuIouXNgTYExsgBFJEbTQKBgQDV2Aet4FXXqptVAdlLHhGyd9ORw0/C8C15ANj7mRGoDwe/lGZbVxn2+KgaOAsOEg3wSxgAvEV3yRJhNxMfU8esaZ8VZLdQAT0wB32djT3E5ZwGF5hUFlMBi85wP1ZHWUHV10OFlr0eZcftVzs1ML9IrFMCwG9kSpL/BIlaSVhfSwKBgGIljvhLDrLqcXtt4nT8QEiE9l7/ll7UG4quVMJVV9FAltP/X3TaB3UcvxWzOUDBrpO0ifYvZ5f/boBUtt75/ZSRyC/arRWFqBmkINtM4UKNeAPEj9y5De10LmLy62QeVcHnH0fy29SPVbklQCJKJ+UuaauFRv15pdjgyUnhKJhhAoGAfpHdCbdMV9gtFEWB3Yowo1d1LENUBGewInyz8UcKQlSTG3u0kb+eKKXIqaweLvfUtDNeQ6Er5NhoPo4gjVxDRPNHK5xvO7VgB/uHCCe/NblJffmdObf07WdYiuuSH6ze4LkGyB0OVt2bVglZjAQMU/FbOLe5trzFAJgoy/25hr0CgYBXQu3YDtcmpQdFOA91IpAkP8DlZwF3MwCmqnhiYCBwDX/gmWc5M603Wrc664K11cw6i7MES4gemFDeRdVDmq2aqRKSGm/GamWF7XYgL90YY7xlmuJSQZWCjOGUsxEFGkY2T2o524Bv7bsjmMNLbjRl8OLm6njyVHgMxrMaj/f7lQ==

spring:
  application:
    name: waypoint-authorization-api
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://localhost:3306/authorization?useSSL=false
    username: root
    password:
    hikari:
      poolName: Hikari
      auto-commit: true
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  liquibase:
    enabled: true
    drop-first: false
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  port: 8082


logging:
  level:
    org.springframework.security: INFO
